@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&display=swap');

body {
    background: linear-gradient(135deg, rgb(251, 253, 255), rgb(218, 228, 240));
    overflow: hidden;

    font-family: 'NanumBarunGothic';
    user-select: none;
}

main {
    height: 50%;

    border: 1px solid black;
    border-radius: 30px;

    background-color: rgb(242, 243, 245);
}

.char-selection {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(3, 33%);
    
    width: 450px;
    height: 900px;
}

#title {
    display: flex;
    
    justify-content: center;
    
    font-family: serif;
    text-align: center;
}

#title>span {
    padding-top: 7px;
}

img {
    height: 40px;
    margin-top: auto; margin-bottom: auto;
}

.char-btn {
    display: grid;
    
    height: 40px; width: 100px;
    margin: 20px;
    padding: 15px;
    /* border: 4px solid black; */
    border-radius: 30px;

    font-size: 20px;
    color: white;
    align-items: center;
    justify-items: center;

    /* background: linear-gradient(200deg, rgb(53, 53, 53), rgb(95, 99, 110)); */
    background: rgb(0, 15, 46);

    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
}

.char-btn:hover {
    /* background: linear-gradient(150deg, rgb(119, 119, 119), rgb(10, 75, 255)); */
    background: rgb(13, 39, 124);
    box-shadow: rgb(21, 9, 185) 0px 0px 10px;
}

.char-btn.selected {
    background: rgb(18, 59, 194);
    box-shadow: rgb(5, 0, 68) 0px 0px 10px;
    /* font-size: 40px; */
    
    animation: selected 300ms ease-out;
}

@keyframes selected {
    from {
        font-size: 25px;
        color: rgb(7, 154, 212);
        width: 120px;
        margin-left: 10px;
    }
    to {
        font-size: 20px;
        color: white;
        width: 100px;
        margin-left: 20px;
    }
}

.selected-display {
    text-align: center;
    font-size: 25px;
}

.selected-display>b {
    color: blue;
}

.selected-display>span {
    color: rgb(163, 163, 163);
}

.description {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;

    top: 150px;
    right: 50px;

    height: 520px;
    width: 600px;

    border: 3px solid black;
    border-radius: 10px;

    box-shadow: 0px 0px 5px black;

    background-color: white;
}

.description::-webkit-scrollbar {
    width: 10px;
}

.description::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(40, 41, 43);
}

.description::-webkit-scrollbar-track {
    border-radius: 100%;
    background-color: white;
}


.description>p {
    margin-bottom: -8px;
    padding: 0px 10px 0px 20px;
}

.description>p>span {
    width: 500px;
    
}

.description>h2 {
    padding-left: 20px;
}

#ready-btn {
    position: absolute;

    top: 660px;
    right: 250px;

    height: 50px;
    width: 200px;
    
    align-content: center;

    border-radius: 10px;

    background: linear-gradient(60deg, rgb(0, 71, 165), rgb(6, 31, 63));
    box-shadow: 0px 0px 5px rgb(0, 15, 128);

    transition: all 1s cubic-bezier(0, 0.48, 0, 0.99);
    
    color: white;
    text-align: center;
    font-size: 30px;
    
    /* color:rgb(97, 20, 20) */
}
@keyframes readyTrue {
    from {
        font-size: 40px;
        top: 650px;
    }
    to {
        font-size: 30px;
        top: 660px;
    }
}

@keyframes readyFalse {
    from {
        font-size: 20px;
        top: 670px;
    }
    to {
        font-size: 30px;
        top: 660px;
    }
}

.header {
    margin-top: 20px;

    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

.result {
    display: grid;

    grid-template-columns: 50% 50%;

    padding: 50px;
}

.res {
    text-align: center;
}

#back {
    margin-top: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}